@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Vollkorn+SC:wght@400;700&family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');
:root { /* :root e uma variavel global, quando eu precisar da cor posso usa-la, variaveis tem que conmeçar com dois traços -- e depois o nome da variavel */
    --primary-color: rgba(13,106,134,0.3);
    --primary-color-darker: rgba(6, 54, 69, 0.3);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color) ; /* para usar a variavel tem q colocar var e o noe dela */
    font-family: 'open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}


.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;

}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;

}

form input:focus {
    outline: 3px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

form button:active {
    background: #fff;
    color: black;
}